<h3><%= partyName.name %></h3>

<% for(var i=1; i<results.items.length; i++) { %>
<ul class="collection">
    <li class="collection-item avatar z-depth-5">
      <img src="<%= results.items[i].album.images[0].url %>" alt="album" class="circle">
      Title: <span class="title"><%= results.items[i].name %></span>
      <p>Artist: <span class="trackname"><%= results.items[i].artists[0].name %></span><br>
      <p>Album: <span class="trackname"><%= results.items[i].album.name %></span><br>
        Track:  <span class="trackname"><%= results.items[i].track_number %></span>
      </p>
      <form method="POST" action="/jukebox/add">
      <input name="imageUrl" type="hidden" value="<%= results.items[i].album.images[0].url %>">
      <input name="artist" type="hidden" value="<%= results.items[i].artists[0].name %>">
      <input name="title" type="hidden" value="<%= results.items[i].name %>">
      <input name="spotifyId" type="hidden" value="<%= results.items[i].id %>">
      <input name="partyName" type="hidden" value="<%= partyName.name %>">
      <button class="secondary-content cardcolor" type="submit" ><i class="material-icons">library_add</i></button>
  </form>
    </li>
  </ul>
<% }; %>
